    /* this is how to comment in CSS
    Style Specificity follows: Inline Style(from Html) >> ID >> CLass >> Element
    */
    /* If you want to force a style to be applied to your selector no matter what just use the !important after the style 
        like this div{color:red !important;}
    */
    p1{
        color:rgb(45, 3, 233);
        font: 17px;
      }
      .k1{color: rgb(153, 0, 255);
        font: 21px;
        font-weight: 1000;
      }
  
      #header{
        color:rgb(11, 216, 11);
        font: 54px;
        font-style: italic;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        opacity:0.6; 
        font-family:'Times New Roman';
        text-shadow: 3px 1px 1px black;
        text-decoration: underline black; 
        cursor: help;  
      }
      body{
        background: url('portrait.png') black;
        color:  rgb(20, 1, 1);
        border: 3px dotted red;
        
      }
      h2{
        background: rgb(161, 224, 35);
        height: 130px;
        width: 722px;
        text-align: center;
        line-height: 100px;
        font-family:'Times New Roman';
        color: rgb(65, 13, 207);
        text-shadow: 3px 1px 1px black;
        border: 4px solid rgb(255, 0, 13);
        border-radius: 50%;
        cursor: pointer;
      }
      body > div > div{ color: greenyellow;
  
      }
      div {color: rgb(21, 3, 180);}
  
      h3+span{
        color: rgb(197, 15, 15);
        font-style: italic;
      }
      a[href] {
        color: rgb(255, 123, 0);
      }
      table{
        border-spacing: 0px;      
      }
      table, tr, th, td {
        border: 0.5px solid black;
        font-family: 'Times New Roman', Times, serif;
        color: darkgreen;  
      }
      thead {
        background-color: rgb(17, 17, 17);
      }
      thead th{
        font-style: italic;
        color: rgb(248, 241, 241);
        font-size: 18px;
        border-right: 1px;
        padding: 2px;
      }
      thead{
        border: 0;
      }
      tbody tr.alt{
        background: grey;
        color: white;
  
      }
      /*!important=10,000: inline Style=1000: ID= 100: Class=10: element=1*/
      p6{color: red;}
      #myDiv{color: aqua !important;}

      /*Here's how to formatt the menu bar item*/
      nav ul.menu {
        color: blue;
        display: flex;
        list-style: none;        
      }
      
      nav ul.menu li {
        margin-right: 1rem;
      }
      
      nav ul.menu li:last-child {
        margin-right: 0;
      }
      nav ul.menu li a {
        color: blue;
      }
      
      nav ul.menu li a:hover {
        color: rgb(51, 255, 0);
      }